.DS_Store

# Configuration
*.jks
google-services.json

# Library
*.class
/libs

# Generated
*.apk
*.ap_
bin/
out/
gen/
*.log

# Build
build.xml
ant.properties
local.properties
project.properties
keystore.properties
.externalNativeBuild

# Gradle
.gradle
build/
release/
.gradle/
.idea/
styles.css/
index.html/
local.properties/
script.js

# Dex VM
*.dex

# Eclipse
proguard/

# Intellij
.idea/
*.iml
*.ipr
*.iws
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
*.iml
.idea/workspace.xml

# Android Studio
captures/
/captures
.navigation/